.headermain{
    .logo{
        .logoname{
            letter-spacing: 2px;
            font-size: 1.4rem;
        }
        .logoimage{
            font-size: 3rem;
        }
        .slogan{
            font-size: 0.8rem;
        }
    }
    ul{
        font-size: 1rem;
    }
}
